<!DOCTYPE html>

<!-- -->
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href = "stylesheets/main.css"  rel="stylesheet" type="text/css">
<link href = "stylesheets/index.css"  rel="stylesheet" type="text/css">
<!-- -->

<html lang="en">
<head>
 <title>thoughtshare</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <a href="<%=googleplay_link%>" >
    <img src="images/googleplay.png" id="googleplay_button">
  </a>

  <img src="images/web_icon.png" id="thoughtshare_icon">

<div class="centration_linear_layout">
  <div class="container-fluid accent_layout">
   <h3 class = "accent_text">Thoughtshare</h3>
   <img class="img-circle" src="images/author.jpg" alt="mykhivanov">
   <h3 class="accompany_text">by Mykhailo Ivanov</h3>
   <h3 class="accompany_text">mykhivanov@gmail.com</h3>
  </div>

  <div class="container-fluid extrainfo_layout">
    <p><%=projectInfo%></p>
  </div>
</div>

</body>
</html>
